footer {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	text-align: center;
	position: absolute;
	bottom: 0%;
	left: 0;
	border-top: 1px #CCCCCC;
}
